<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      
      
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/movies-popular']">Film</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profilo']">Profilo</a>
          </li>
        </ul>
      </div>
    
  </nav>
