<div class="container login-container">
 <div class="row d-flex justify-content-center align-items-center h-50">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6 login-form-1 ">
      <form #form="ngForm" (ngSubmit)="accedi(form)">
        <h3>Accedi</h3>
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input name="email" class="form-control" required ngModel id="email" type="email" />
        </div>
        <div class="form-group">
          <label for="pass" class="form-label">Password</label>
          <input name="password" required class="form-control" ngModel id="pass" type="password" />
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body mt-3">Accedi</button>
      </form>
    </div>
  </div>
  <p class="text-center text-muted mt-4 mb-0">Non sei ancora registrato? Clicca <a class="fw-bold text-body" [routerLink]="['/signup']">qui</a></p>
</div>
<router-outlet></router-outlet>